<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Test app</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css({build/src,src}) styles/libraries.css -->
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="../bower_components/angular-material/themes/grey-theme.css">
  <!-- endbuild -->


  <!-- build:css({build/src,src}) styles/app.css -->
  <link rel="stylesheet" href="app/index.scss">
  <!-- endbuild -->

</head>
<body>

<!--
<div data-ng-bind="router.title ? 'Router Title '+router.title : 'Router does not work !'">Not binded</div>

<nav role="navigation">
  <ul class="well nav nav-pills nav-stacked">
    <li data-ng-repeat="row in router.navigation" data-ng-active="row.isActive">
      <a  router-link href="{{row.href}}">{{row.title}}</a>
    </li>
  </ul>
</nav>

<div data-ng-if="router.isNavigating" layout="vertical" layout-sm="horizontal" layout-align="space-around">
  <md-progress-circular mode="indeterminate"></md-progress-circular>
</div>
-->
<router-component component-name="app"></router-component>



<!--start:development-only-->
<script src="../node_modules/requirejs/require.js"></script>
<script type="text/javascript">
  require(['require.config'], function(){
    require(['traceur'], function(){
      require(['app/main']);
    });
  });
</script>

<!--end:development-only-->

<!--start:prod-es5-only--:
<script src="almond.js"></script>
<script src="scripts/app-es5.js"></script>
<script src="require.config.js"></script>
<!--end:prod-es5-only-->
</body>
</html>
